apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
  annotations:
    ci.lastUpdate: "manual"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-app
  template:
    metadata:
      labels:
        app: hello-app
      annotations:
        ci.lastUpdate: "manual"
    spec:
      containers:
        - name: hello-app
          image: lucasdockerrp/lucas-repositore:d96e85b
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          command: ["uvicorn"]
          args: ["main:app", "--host", "0.0.0.0", "--port", "8080"]
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
